MANUAL witness_dissect_element_interfaceInfo_group_name
MANUAL witness_dissect_element_interfaceInfo_group_name_
MANUAL witness_dissect_struct_notifyResponse
MANUAL witness_dissect_element_notifyResponse_message_buffer_
MANUAL witness_dissect_enum_interfaceInfo_state

TYPE ipv4address "offset=PIDL_dissect_ipv4address(tvb, offset, pinfo, tree, drep, @HF@, PIDL_SET_COL_INFO);" FT_IPv4 BASE_NONE 0 NULL 4

#PARAM_VALUE witness_dissect_element_interfaceInfo_state PIDL_SET_COL_INFO

TYPE ipv6address "offset += 16;" FT_BYTES BASE_NONE 0 NULL 2
HF_RENAME hf_witness_witness_interfaceInfo_group_name hf_dummy
HF_FIELD hf_witness_witness_interfaceInfo_group_name "Group Name" "witness.witness_interfaceInfo.group_name" FT_STRING BASE_NONE NULL 0 "" "" ""

HF_FIELD hf_witness_move_ipaddr_list_flags "Flags" "witness.move_ipaddr.flags" FT_UINT32 BASE_HEX NULL 0 "" "" ""
HF_FIELD hf_witness_move_ipaddr_list_flags_ipv4 "IPv4" "witness.move_ipaddr.ipv4_valid" FT_BOOLEAN 32 TFS(&valid_tfs) 0x01 "" "" ""
HF_FIELD hf_witness_move_ipaddr_list_flags_ipv6 "IPv6" "witness.move_ipaddr.ipv6_valid" FT_BOOLEAN 32 TFS(&valid_tfs) 0x02 "" "" ""
HF_FIELD hf_witness_move_ipaddr_list_ipv4 "IPv4" "witness.move_ipaddr.ipv4" FT_IPv4 BASE_NONE NULL 0  "" "" ""
HF_FIELD hf_witness_move_ipaddr_list_ipv6 "IPv6" "witness.move_ipaddr.ipv6" FT_IPv6 BASE_NONE NULL 0  "" "" ""
HF_FIELD hf_witness_change_type "Type" "witness.change.type" FT_UINT32 BASE_HEX VALS(witness_change_type_vals) 0 "" "" ""
HF_FIELD hf_witness_change_name "Name" "witness.change.name" FT_STRING BASE_NONE NULL 0  "" "" ""

HF_FIELD hf_dcerpc_array_max_count "Max Count" "dcerpc.array.max_count" FT_UINT32 BASE_DEC NULL 0 "" "" "Maximum Count: Number of elements in the array"

ETT_FIELD ett_witness_move_ipaddr_list_flags
ETT_FIELD ett_witness_move_ipaddr
ETT_FIELD ett_message_buffer

PARAM_VALUE witness_dissect_element_Register_context_handle_ PIDL_POLHND_OPEN
PARAM_VALUE witness_dissect_element_UnRegister_context_handle PIDL_POLHND_CLOSE
HF_FIELD hf_witness_context_handle "Handle" "witness.handle" FT_BYTES BASE_NONE NULL 0 "" "" ""
HF_RENAME hf_witness_witness_AsyncNotify_context_handle hf_witness_context_handle
HF_RENAME hf_witness_witness_UnRegister_context_handle hf_witness_context_handle
HF_RENAME hf_witness_witness_Register_context_handle hf_witness_context_handle

CODE START
 #include "packet-dcerpc-witness-cnf.c"
CODE END
