MANUAL witness_dissect_element_interfaceInfo_group_name
TYPE ipv4address "offset=PIDL_dissect_uint32(tvb, offset, pinfo, tree, drep, @HF@, @PARAM@);" FT_BYTES BASE_NONE 0 NULL 4
TYPE ipv6address "offset += 16;" FT_NONE BASE_NONE 0 NULL 2
HF_FIELD hf_witness_witness_interfaceInfo_group_name "Group Name" "witness.witness_interfaceInfo.group_name" FT_STRING BASE_NONE NULL 0 "" "" ""
CODE START
CODE END
